.App {
  display: flex;
  height: 100%;
  --section-title-size: 38px;
  --section-subtitle-size: 24px;
  --card-title-size: 21px;
  --meta-text-size: 18px;
}

main {
  overflow: auto;
}

/* Section */

.section {
  padding: 50px 100px;
}

main .section:first-child {
  padding-top: 150px;
}

main .section:last-child {
  padding-bottom: 150px;
}

.section-title {
  font-size: var(--section-title-size);
  font-weight: bold;
  margin-bottom: 20px;
  /* border-bottom: 1px solid #58a3ff; */
  color: #58a3ff;
}

.section-content {
  padding: 0px 20px
;}

.text-justified {
  text-align: justify;
}

@media (max-width: 640px) {
  .App {
    --section-title-size: 32px;
    --section-subtitle-size: 22px;
    --card-title-size: 19px;
    --meta-text-size: 16px;
  }
}
