/* Sidebar List Item CSS */

.sidebar-list-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}

.sidebar-list-item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-list-item-link:hover {
    transform: scale(1.15);
    transition: transform 800ms ease;
}




