.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 300px;
    background: linear-gradient(0deg, #00bbea 0%, #ffffff 100%);
    padding: 100px 0px 0px 0px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid #25b3ff;
}

.contact {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: #25b3ff;
    border-radius: 10px;
}

.sidebar-list {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 30px;
}

