.sidebar {
    display: flex;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 320px;
    flex: 0 0 320px;
    min-height: 100vh;
    background: linear-gradient(180deg, #ffffff, #0173ff);
}

.profile-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 4px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    margin-top: 50px;
}

.profile-image {
    position: absolute;
    width: 206px;
    height: 309px;
    top: -20px;
    left: -8px
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 60px;
    margin-top: 20px;
}

.sidebar-icon:hover {
  transform: scale(1.2);
  color: white;
  transition: transform 320ms ease, color 320ms ease;
}

.sidebar-list {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 20px;
}

.hover-indicator {
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff27;
    box-shadow: inset 0 0 0 2px #ffffff;
    transition: transform 220ms ease, opacity 160ms ease;
    opacity: 0;
}
